[Desktop Entry]
Type=Application
Exec=obs_auto
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
Name[en_GB]=obs
Name=obs
Comment[en_GB]=obs livestreaming
Comment=obs livestreaming
