[Unit]
 Description=AutoSSH service for a reverse tunnel from Capture Agent to Home host
 After=network.target

[Service]
 User={{ ca_username }}
 Environment="AUTOSSH_GATETIME=0"
 ExecStart=/usr/bin/autossh -M {{ home_tunnel_port | int + 1 }} -N -T -q -o PubkeyAuthentication=yes -o PasswordAuthentication=no -o StrictHostKeyChecking=no -i /home/galicaster/.ssh/id_rsa.tunnel -R {{ home_tunnel_port }}:localhost:22 {{ home_server_user }}@{{ home_server }}

[Install]
 WantedBy=multi-user.target
