[Desktop Entry]
Type=Application
Exec=/usr/bin/lecturesight
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=lecturesight
Name=lecturesight
Comment[en_GB]=
Comment=
