[Desktop Entry]
Type=Application
Exec=galicaster
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
Name[en_GB]=Galicaster
Name=galicaster
Comment[en_GB]=galicaster multistream recorder
Comment=galicaster multistream recorder
